/* Color Theme Swatches in Hex */
/*
.fundo { color: #a3daf8; }
.principal { color: #2b0585; }
.destaque { color: #0CF25D; }
*/
/*.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-2-hex { color: #025951; }
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-3-hex { color: #02735E; }*/

html {
    background: #a3daf8;
    color: #2b0585;
    }

